* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: whitesmoke;
}

nav {
    background-color: #204051;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    width: 100%;
    height: 80px;
    padding: 20px 5%;
}

.select-box {
    display: flex;
    width: 200px;
    margin-right: 30px;
   margin-top: auto; 
    flex-direction: column;
}
  
.select-box .options-container {
    background: #3b6978;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    margin-top: 50px; 
    order: 1;
}
  
.selected {
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
    width: 200px;
    order: 0;
}

.selected::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 18px;
    width: 6px;
    height: 6px;
    border: 2px solid;
    border-color: transparent transparent #204051 #204051;
    transform: rotate(-45deg);
    
}
  
.select-box .options-container.active {
    max-height: none;
    max-width: 200px;
    opacity: 1;
    overflow: visible;
    position: absolute;
}
  
.select-box .options-container.active + .selected::after {
    transform-origin: center;
    transform-box: fill-box;
    transform: rotate(-225deg);
    top: 14px;
}

.select-box .option,
.selected {
    padding: 12px 24px;
    cursor: pointer;
    text-align: center;
}
  
.select-box .option:hover {
    background:  #84a9ac;

}

.select-box .option:first-child:hover {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.select-box .option:last-child:hover {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}  
  
.select-box label {
    cursor: pointer;
}
  
.select-box .option .radio {
    display: none;
}

.home{
    font-size: 30px;
    margin-right: auto;
    padding: 0px;
    transition: all 0.3s ease 0s;
}

.home:hover{
    cursor: pointer;
    color: #84a9ac;
    margin-right: auto;
}

section #array_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: center;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    height: 70vh;
}

button, .selected {
    padding: 9px 25px;
    background-color: rgba(59,105,120,1);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    font-size: 18px;
    text-align: center;      
}

button:hover, .selected:hover{
    background-color: #84a9ac;
}

nav .array-inputs {
    width: 300px;
    display: -ms-grid;
    display: grid;
    font-size: 16px;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto auto;
    grid-row-gap: 12px;
    padding: 5% 0%;
    place-content: center;
}

#go {
    margin-right: 15px;
    margin-left: 30px;
}

#stop {
    margin-right: 30px;
}

.slider {
    -webkit-appearance: none;
    background: linear-gradient(to right, #84a9ac 0%, #84a9ac 50%, #fff 50%, #fff 100%);
    border: solid 1px #84a9ac;
    border-radius: 8px;
    width: 100%;
    height: 7px;
    outline: none;
    transition: background 450ms ease-in;
    margin-top:  5px;  
}

.slider:hover{
    opacity: 0.9;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #3b6978;
    border-radius: 50%;
    cursor: pointer;
}